/* Navigation Bar Elements */
* {
    box-sizing: border-box;
}
body{
    padding: 0px;
    margin: 0px;
    background: #f6f6f6;  
}

h1, h2, h3, h4, h5, h6 {
   font-family: 'Candal', serif;
   color: #444;
   margin: 5px;
}

a {
   color: inherit;
   text-decoration: none;
}

.clearfix::after {
   content: '';
   display: block;
   clear: both;
}

.btn {
   padding: .5rem 1rem;
   background: #006669;
   color: white;
   border 1px solid transparent;
   border-radius: .25rem;
}

.btn:hover {
   color: white !important;
   background: #005255;
}

.text-input {
   padding: .7rem 1rem;
   display: block;
   width: 100%;
   border-radius: 5px;
   outline: none;
   border: 1px solid #e0e0e0;
   color: #444;
   line-height: 1.5rem;
   font-size: 1.2em;
   font-family: 'Lora', serif;
}

header {
    background: #C3682F; 
    height: 66px;
}

header * {
    color: white;
    font-family: 'Lora', serif;
}

header .logo {
    float: left;
    height: inherit;
    margin-left: 2em;
}
header .logo-text {
    margin: 12px;
    font-family: 'Candal', serif;
}

header .logo-text span {
    color: #F6CA67;
}

header ul {
    float: right;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

header ul li {
    float: left;
    position: relative;
}

header ul li ul {
    position: absolute;
    top: 66px;
    right: 0px;
    width: 172px;
    z-index: 8888;
    display: none;
}

header ul li:hover ul {
    display: block;
}

header ul li ul li {
    width: 100%;
}

header ul li ul li a.logout {
    color: red;
}

header ul li ul li a:hover {
    background: #d5d6d6;
}

header ul li ul li a {
    padding: 10px;
    background: white;
    color: #444;
}

header ul li a {
    display: block;
    padding: 21px;
    font-size: 1.1em;
    text-decoration: none;
}

header ul li a:hover{
    background: #F7E843;
    transition: 0.5s;
}

header .menu-toggle {
    display: none;
}

/* Navigation Bar Elements */

/*
article p{
    position: relative;
    left: 700px;
}

article img{
    background-position: 100%;
}
*/

/*
aside {
    width: 50%;
    margin-top: 25px;
    background-color: rgb(212, 212, 212);
    float: center;
    border: 5px solid rgb(102, 102, 102);
    border-radius: 15px;
}
*/
/*
aside h1+p {
    text-align: center;
    font-size: 0.8em;

}
*/

.container {
    background-image: url('./images/QuantumMaths.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
}

/**
.QuantumConcept-img {
    width: 80%;
    height: auto;
    /*
    max-width: 100vw;
    z-index: 0;
    position: absolute; } **/
/*
.Sun-img {
    position: absolute;
    z-index: 1;
    top: -90px;
    right: -25px;
    width: 30%;
    height: auto;
}
*/

/*
.Bio {
    position: absolute;
    z-index: 2;
    top: 150px;
    left: 100px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
}
*/

/*
.Intro {
    position: absolute;
    z-index: 2;
    top: 480px;
    right: 50px;
    background-color:rgb(212, 212, 212);
    padding: 10px;
    border-radius: 5px;
}
*/

/*
.Projects {
    position : absolute;
    z-index: 2;
    top: 120px;
    left: 100px;
    background-color: rgba(225, 225, 225, 0.8);
    padding: 10px;
    border-radius: 5px;
}
*/

/* Table Properties */
/*
.GitLinks {
   position: absolute;
   z-index: 2;
   top: 380px;
   left: 100px;
   background-color: rgba(225, 225, 225, 0.8);
   padding: 10px;
   border-radius: 5px;
}

.GitLinks table {
   width: 100%;
   border-collapse: collapse;
   margin-top: 20px;
}

.GitLinks th, td {
   border: 1px solid #ccc;
   padding: 10px;
   text-align: left;
}

.GitLinks thead {
   background-color: #f4f4f4;
}

.GitLinks tbody tr:hover {
   background-color: #eef;
}

*/

.page-wrapper a:hover {
   color: #006669;
}

/* POST SLIDER */

.post-slider .slider-title {
   text-align: center;
   margin: 30px auto; 
}

.post-slider .next {
   position: absolute;
   top: 30%;
   right: 30px;
   font-size: 2em;
   color: #006669;
   cursor: pointer;
}

.post-slider .prev {
   position: absolute;
   top: 30%;
   left: 30px;
   font-size: 2em;
   color: #006669;
   cursor: pointer;
}

.post-slider .post-wrapper {
   width: 84%;
   height: 350px;
   margin: 0px auto;
   overflow: hidden;
   padding: 10px 0px 10px 0px;
}

.post-slider .post-wrapper .post {
   width: 330px;
   height: 1330px;
   margin: 0px 10px;
   display: inline-block;
   background: white; 
   border-radius: 5px;
   box-shadow: 1rem 1rem 1rem -1rem #a0a0a033;   
}


.post-slider .post-wrapper .post .post-info {
  height: 1530px;
  width: 100%;
  margin: 5px;
  padding: 5px;
}

.post-slider .post-wrapper .post .slider-image {
   width: 100%;
   height: 200px;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}

/* POST SLIDER */

/* CONTENT */

.content {
   width: 90%;
   margin: 30px auto 30px;
}

.content .main-content {
  width: 70%;
  float: left;
}

.content .main-content .post {
  width: 95%;
  height: 270px;
  margin: 20px auto;
  border-radius: 5px;
  background: white;
  position: relative;
}

.content .main-content .post .read-more {
   position: absolute;
   bottom: 30px;
   right: 30px;
   border: 1px solid #006669;
   background: transparent;
   border-radius: 0px;
   color: #006669 !important;
}

.content .main-content .post .read-more:hover {
  background: #006669;
  color: white !important;
  transition: .25s;
}

.content .main-content .post .post-image {
  width: 40%;
  height: 100%;
  float: left;
}

.content .main-content .post .post-preview {
  width: 60%;
  padding: 10px;
  float: right;
}

.content .main-content .recent-post-title { 
  margin: 20px;
}

.content .sidebar {
  width: 30%;
  float: left;
  height: 300px;
}

.content .sidebar .section {
  background: white;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.content .sidebar .section .section-title {
  margin: 10px 0px 10px 0px;
}

.content .sidebar .section.search {
  margin-top: 80px;
}

.content .sidebar .section.topics ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  border-top: 1px solid #e0e0e0;
}

.content .sidebar .section.topics ul li a {
  border-bottom: 1px solid #e0e0e0;
  display: block;
  padding: 15px 0px 15px 0px;
  transition: all 0.3s;
}

.content .sidebar .section.topics ul li a:hover {
  padding-left: 20px;
  transition: all 0.3s;
}

/* Footer 
.footer {
  background: #303036;
  color: #d3d3d3;
  height: 400px;
}

.footer .footer-bottom {
  background: #343a40;
  color: #686868;
  height: 50px;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-top: 20px;
}

 Footer */

/* MEDIA QUERIES */ 
@media only screen and (max-width: 750px) {
       	
	/* 
	.QuantumConcept-img {
       		width: 80%; 
		height: auto; 
		/* 
		max-width: 100vw; 
		opacity: 0.3; 
		position: absolute; 
		z-index: 0;
    }
   */ 
    header {
        position: relative;
    }

    header ul {
        width: 100%;
        background: #0E94A0;
        max-height: 0px;
        overflow: hidden;
    }
    
    .showing {
        max-height: 100em;
    }

    header ul li {
        width: 100%;
    }

    header ul li ul {
        position: static;
        display: block;
        width: 100%;
        background: inherit;
    }
    
    header ul li ul li a {
        padding: 10px;
        background: #0E94A0;
        color: white;
        padding-left: 50px;
    }
    
    header ul li ul li a:hover {
        background: #d5d6d6;
    }
    
    header ul li ul li a {
        padding: 10px;
        background: white;
        color: #444;
    }

    header ul li ul li a.logout {
        color: red;
    }
    
    header .menu-toggle {
        display: block;
        position: absolute;
        right: 20px;
        top: 21px;
        font-size: 1.9em;
        border: 1px solid red;
    }

    header .fa-user {
        border: 1px solid red;
    }

    header .logo {
        margin-left: .8em;
    }     
}
